<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% result.forEach(function(r) { %>
        <li><%= r.employee_id %> - <%= r.name %> - <%= r.email %> - <%= r.reason_for_owning %> - <%= r.feeding_goal %> - <%= r.budget %> - <%= r.avoiding %> - <%= comments.name %></li>

    <% }); %>
</ul>

</div>

</body>
</html>
